@import "vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #797979;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 960px;
  margin-inline: auto;
}

.naslovSekcije {
  text-transform: uppercase;
  text-align: center;
}

main {
  section {
    padding: 3rem;
  }
}

.logo {
  font-weight: 800;
  span {
    color: $crvena;
  }
}
